#logo {
  width: 2.5rem;
  fill: $color-secondary;
}

.icon {
  width: 2rem;
  height: 2rem;
  fill: $color-grey-dark-2;

  &--login {
    width: 3rem;
    height: 3rem;
    fill: $color-white;
  }
}

.search {
  flex: 0 0 40%;

  display: flex;
  align-items: center;
  justify-content: center;

  @include respond(tab-land) {
    flex: 0 0 50%;
  }

  @include respond(phone) {
    flex: 0 0 60%;
  }

  &__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: $color-grey-light-2;
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all 0.2s;

    &:focus {
      outline: none;
      width: 100%;
      background-color: $color-grey-light-3;
    }
  }

  &__button {
    margin-left: -3.25rem;
  }
}

.button {
  border: none;
  background-color: transparent;

  &:focus {
    outline: none;
  }

  &:active {
    transform: translateY(2px);
  }

  &--login {
    border-radius: 50%;
    background-color: $color-grey-medium-1;
  }
}

.side-list {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem;

  @include respond(tab-port) {
    display: flex;
    margin: 0;
    justify-content: space-around;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 0.5rem;

      @include respond(tab-port) {
        margin: 0;
      }
    }
  }

  &__link {
    &:link,
    &:visited {
      color: $color-grey-light-1;
      text-decoration: none;
      text-transform: uppercase;
      display: block;
      padding: 1.5rem 3rem;

      background: linear-gradient(
        to right,
        $color-secondary 0%,
        $color-secondary 5px,
        transparent 5px
      );
      background-repeat: repeat-x;
      background-size: 100%;

      @include respond(tab-port) {
        background: none;
      }
    }

    &--active {
      color: $color-tertiary !important;
    }

    &:hover {
      background: linear-gradient(
        to right,
        $color-secondary 0%,
        $color-secondary 5px,
        transparent 100%
      );

      @include respond(tab-port) {
        background: none;
      }
    }
  }
}

.main-view{
  display: flex;
  padding: 1rem 5rem 5rem 5rem;
  @include respond(tab-port) {
    padding: 5rem;
  }

  @include respond(tab-port) {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .page-description {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 50%;
    
    @include respond(tab-port) {
      max-width: 60%;
      align-items: center;
    }

    @include respond(phone) {
      max-width: 100%;
    }
  
    &__title{
      color: $color-secondary;
      text-transform: uppercase;
      letter-spacing: .2rem;
      margin-bottom: 2rem;
      display: block;
      font-size: 3.5rem;
      font-weight: 700;
      transition: all .2s;
      text-decoration-line: underline;
      text-decoration-style: wavy;
    }
  
    &__text {
      font-size: 1.5rem;

      @include respond(tab-port) {
        font-size: 2rem;
      }

      @include respond(phone) {
        font-size: 1.5rem;
      }
    }
  }

  .image {

    margin: 5rem auto 0 auto;

    &-container {
      display: flex;
  
      @include respond(tab-port) {
        width: 100%;
      }
    }

    width: 100%;
    @include respond(tab-port) {
      width: 30%;
    }

    @include respond(phone) {
      width: 100%;
    }
  }

}

